h-char.biaodian {
  font-family: 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
  line-height: 1 !important;
}
h-char.biaodian[unicode='2018'],
h-char.biaodian[unicode='2019'],
h-char.biaodian[unicode='201c'],
h-char.biaodian[unicode='201d'] {
  font-family: inherit;
}
h1 h-char.biaodian,
h2 h-char.biaodian,
h3 h-char.biaodian,
h4 h-char.biaodian,
h5 h-char.biaodian,
h6 h-char.biaodian {
  font-family: 'Source Han Serif SC', 'Source Han Serif CN', 'Noto Serif CJK SC', 'Noto Serif SC', serif;
}
em:lang(ja),
em:lang(zh) {
  -moz-text-emphasis: initial;
  -webkit-text-emphasis: initial;
  text-emphasis: initial;
  -moz-text-emphasis-position: initial;
  -webkit-text-emphasis-position: initial;
  text-emphasis-position: initial;
  font-style: italic;
  border-bottom: initial;
  padding-bottom: initial;
  border-bottom-width: initial;
  padding-bottom: initial;
}
.hljs {
  background: #f7f7f7;
}
#dsqjs header *,
#dsqjs footer *,
#dsqjs section * {
  font-family: 'Roboto Slab', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
  color: #333;
}
#dsqjs header a:not(.dsqjs-load-more),
#dsqjs footer a:not(.dsqjs-load-more),
#dsqjs section a:not(.dsqjs-load-more) {
  color: #7065a3;
}
#dsqjs header a:not(.dsqjs-load-more):hover,
#dsqjs footer a:not(.dsqjs-load-more):hover,
#dsqjs section a:not(.dsqjs-load-more):hover {
  text-decoration: underline;
}
#dsqjs header {
  border-bottom: none;
}
#dsqjs header .dsqjs-tab-active > span:after {
  background-color: #7065a3 !important;
}
#dsqjs header .dsqjs-order {
  margin-bottom: 0;
}
#dsqjs .dsqjs-meta {
  font-family: 'Fira Mono', 'Courier New', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', monospace;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12,
.col-md-3,
.col-md-8,
.offset-md-1 {
  position: relative;
  width: 100%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
}
body {
  font-family: 'Roboto Slab', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
  color: #333;
  font-size: 16px;
}
@media (max-width: 767px) {
  body {
    padding: 0 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding: 0 1.5em;
  }
}
::selection {
  background: rgba(112,101,163,0.6);
  color: #fff;
}
img {
  max-width: 100%;
}
del {
  color: #777;
}
strong {
  font-family: 'Roboto Slab', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Han Serif SC', 'Source Han Serif CN', 'Noto Serif CJK SC', 'Noto Serif SC', serif;
  font-weight: 600;
  color: #000;
}
h1:hover .headerlink:before,
h2:hover .headerlink:before,
h3:hover .headerlink:before,
h4:hover .headerlink:before,
h5:hover .headerlink:before,
h6:hover .headerlink:before {
  content: '#';
  float: left;
  padding-right: 1em;
  margin-left: -0.8em;
  position: absolute;
}
a {
  color: #7065a3;
  transition: all 0.2s ease-out;
}
a:hover {
  text-decoration: underline;
}
pre,
code,
kbd,
samp {
  font-family: 'Fira Mono', 'Courier New', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', monospace !important;
}
code {
  padding: 0.2em 0.4em;
  font-size: 90%;
  background-color: #f7f7f7;
  border-radius: 3px;
}
kbd {
  padding: 0.1em 0.5em;
  font-size: 90%;
  background: #fff;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #fff inset;
}
pre {
  white-space: pre;
  border: 0;
  overflow: auto;
  font-size: 90%;
  line-height: 1.5;
  border-radius: 3px;
}
pre code {
  display: block;
  background-color: #f7f7f7;
  padding: initial;
  font-size: 100%;
  padding: 1em !important;
  overflow-x: auto;
}
blockquote {
  font-family: 'Roboto Slab', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif !important;
  margin: 0;
  margin-left: 0 !important;
  padding: 0.7em 1em;
  border-left: 0.25em solid rgba(112,101,163,0.6);
  background-color: rgba(112,101,163,0.05);
}
blockquote p {
  margin-top: 0;
  margin-bottom: 0.7em;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote code {
  padding: 0.1em 0.3em;
  border: 1px solid #eee;
}
blockquote code,
blockquote code.hljs {
  background-color: rgba(255,255,255,0.7);
}
table:not(.highlight) {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
}
table:not(.highlight) th {
  font-weight: bold;
}
table:not(.highlight) td,
table:not(.highlight) th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table:not(.highlight) tr {
  background-color: #fff;
}
table:not(.highlight) tr code {
  font-size: 100%;
  background-color: transparent;
}
table:not(.highlight) tr:nth-child(2n) {
  background-color: #f7f7f7;
}
header {
  padding: 2em 0;
  border-bottom: 1px solid #eee;
}
footer {
  text-align: center;
  padding: 1.5em 0;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}
main {
  line-height: 1.7;
}
main .container {
  padding: 1.5em 0;
}
.site-name .logo {
  font-weight: 600;
  color: #333;
  font-size: 2em;
  font-family: 'Source Han Serif SC', 'Source Han Serif CN', 'Noto Serif CJK SC', 'Noto Serif SC', serif;
}
.site-name .description {
  margin: 0.5em 0 0;
  font-size: 1em;
  color: #999;
  display: block;
}
.site-name a {
  color: #333;
}
.site-name a:hover {
  text-decoration: none;
}
.post {
  padding: 1.5em 0;
}
.post + .post {
  border-top: 1px solid #eee;
}
.post:first-child {
  padding-top: 0;
}
.post-title {
  line-height: 1.5;
  margin: 0 0 0.5em;
}
h1.post-title {
  font-size: 1.8em;
}
h2.post-title {
  font-size: 1.6em;
}
.post-title a {
  color: #333;
}
.post-title a:hover {
  color: #7065a3;
}
.post-meta {
  font-family: 'Fira Mono', 'Courier New', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', monospace;
  color: #999;
  margin: 0 0 1em;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.post-meta::-webkit-scrollbar {
  display: none;
}
.post-meta .post-meta-tags a.tag-link:before {
  content: '#';
}
.post-meta .post-meta-views {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.post-meta .post-meta-item + .post-meta-item::before {
  content: ' / ';
}
@media (max-width: 767px) {
  .post-meta .post-meta-item-indicator {
    display: none;
  }
}
.post-collapse .post-meta {
  margin: 0;
}
.post-toc {
  display: none;
  margin: 1em 0 0;
  padding: 1em 0.5em;
  font-size: 90%;
}
.post-toc ul,
.post-toc ol {
  list-style: none;
  line-height: 1.6;
  padding-left: 1em;
  margin: 0;
}
@media (max-width: 767px) {
  article .post-toc {
    display: block;
  }
}
.post-toc,
.post-copyright,
.post-warning {
  font-family: 'Roboto Slab', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif !important;
  margin: 0;
  margin-left: 0 !important;
  padding: 0.7em 1em;
  border-left: 0.25em solid rgba(112,101,163,0.6);
  background-color: rgba(112,101,163,0.05);
  margin: 1em 0;
}
.post-toc p,
.post-copyright p,
.post-warning p {
  margin-top: 0;
  margin-bottom: 0.7em;
}
.post-toc p:last-child,
.post-copyright p:last-child,
.post-warning p:last-child {
  margin-bottom: 0;
}
.post-toc code,
.post-copyright code,
.post-warning code {
  padding: 0.1em 0.3em;
  border: 1px solid #eee;
}
.post-toc code,
.post-copyright code,
.post-warning code,
.post-toc code.hljs,
.post-copyright code.hljs,
.post-warning code.hljs {
  background-color: rgba(255,255,255,0.7);
}
.post-content p:first-child {
  margin-top: 0;
}
.post-content p:last-child {
  margin-bottom: 0;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-bottom: 1.5em;
}
.post-content ul,
.post-content ol {
  line-height: 2;
}
.post-content hr {
  border: none;
  margin: 1.5em 0;
  text-align: center;
  display: block;
  height: auto;
}
.post-content hr::after {
  content: "***";
  font-family: 'Fira Mono', 'Courier New', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', monospace;
  letter-spacing: 2em;
  padding-left: 2em;
  color: #999;
}
.post-content a.more-link {
  font-family: 'Fira Mono', 'Courier New', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei', monospace;
}
.comments {
  margin: 3em 0 1em;
}
.post-collapse h3.post-title {
  margin: 0;
}
.post-collapse h3.post-title a:hover {
  color: #7065a3;
}
.post-collapse .post-meta .post-meta-item a {
  color: #999 !important;
}
.archive-year-collection {
  margin: 0 !important;
  padding-bottom: 1em;
  padding-top: 1em;
  color: #7065a3;
  border-bottom: 1px solid #eee;
}
.pagination {
  border-top: 1px solid #eee;
  padding: 2em 0 1em;
  text-align: center;
}
.pagination a,
.pagination span {
  margin: 0.5em;
}
aside .widget {
  font-size: 90%;
}
aside .widget ul,
aside .widget ol {
  list-style: none;
  line-height: 1.6;
  padding-left: 1em;
}
aside .widget >ul,
aside .widget >ol {
  padding-left: 0;
}
@media (max-width: 767px) {
  .widget-toc {
    display: none;
  }
  #widget-recent-posts {
    display: none;
  }
}
